*.class
*.log
.java-version

autoSetup.sh
seedSetup.sh
machine0Setup.sh
machine1Setup.sh
.DS_Store
.end 
.env

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project
project/target
logs
# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

#raphtory env
mainproject/.env

# sbt 
sbt-*.zip
sbt

mainproject/build.sbt
*.class
*.log
.*.sw[op]

sbt/
cluster/src/main/scala/scala.iml
src/main/scala/com/raphtory/testDeploy.scala

.env
singlenodetest.yml

autoSetup.sh
seedSetup.sh
machine0Setup.sh
machine1Setup.sh

.DS_Store

docker-compose/prometheus_data/
# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project
project/target
logs
# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

**/logs/**
/src/main/scala/com/raphtory/dev/algorithms/test.scala

testupdates.txt

# local files
src/main/scala/com/raphtory/lotr
/src/main/scala/com/raphtory/dev/lotr/lotr2.csv
/src/main/scala/com/raphtory/dev/networkx/networkxGraphBuilder.scala
/src/main/scala/com/raphtory/dev/networkx/networkxSpout.scala
