[workspace]
members = [
    "raphtory",
    "raphtory-benchmark",
    "examples/rust",
    "examples/netflow",
    "python",
    "js-raphtory",
    "raphtory-graphql",
    "comparison-benchmark/rust/raphtory-rust-benchmark",
    "faiss-rs",
    "faiss-rs/faiss-sys",
    "disk-faiss",
    "disk-test",
]
default-members = ["raphtory"]

[workspace.package]
version = "0.7.0"
documentation = "https://raphtory.readthedocs.io/en/latest/"
repository = "https://github.com/Raphtory/raphtory/"
license = "GPL-3.0"
readme = "README.md"
homepage = "https://github.com/Raphtory/raphtory/"
keywords = ["graph", "temporal-graph", "temporal"]
authors = ["Pometry"]
rust-version = "1.67.1"
edition = "2021"

[profile.release-with-debug]
inherits = "release"
debug = true
