.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build artifacts
node_modules/
dist
dist-ssr
target
*.local
.python-version
__pycache__
pyrightconfig.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.zed
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
