<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate.SQL" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.scurrilous.circe.checksum.Crc32cIntChecksum" level="off">
        </Logger>
        <Logger name="io.netty" level="off">
        </Logger>
        <Logger name="org.apache" level="off">
        </Logger>
        <Logger name="com.raphtory.deploy" level="INFO">
        </Logger>
        <Logger name="com.raphtory.develop" level="INFO">
        </Logger>
        <Logger name="com.raphtory.core" level="INFO">
        </Logger>
        <Logger name="com.raphtory.core.components.partition.Writer" level="DEBUG">
        </Logger>
        <Logger name="com.raphtory.core.components.graphbuilder" level="DEBUG">
        </Logger>
<!--        <Logger name="com.raphtory.core.components.querymanager" level="DEBUG">-->
<!--        </Logger>-->
<!--        <Logger name="com.raphtory.core.components.partition.QueryExecutor" level="DEBUG">-->
<!--        </Logger>-->
<!--        <Logger name="org.apache.pulsar.client.admin" level="DEBUG">-->
<!--        </Logger>-->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>