COMPOSE_PROJECT_NAME=raphtory
ROUTER_MIN=1
PARTITION_MIN=1
ZOOKEEPER=zooKeeper:2181
ADD_ONLY_VERTEX=false
ADD_ONLY_EDGE=false
PROMETHEUS=true
STDOUT_LOG=true
JAVA_OPTS=-XX:+UseConcMarkSweepGC -XX:+UseParNewGC -Xms40g -Xmx40g -XX:NewRatio=5
UPDATES_FREQ=1000
LAM_NAME="testLam"
