{{ template "head" . }}
<style>
    .prom_lhs_menu, .navbar {display:none;}
    .chart {margin-top: 100px;}
    body, html {overflow-x: hidden;}
    #simulation-links a, #csv-links a {padding: 0 10px;}
    .margin{margin:10px;}
    h4{margin-top:30px;}
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center ">
            <h3>Simulations</h3>
            <div id="simulation-links"></div>
            <div style="display:none" class="snapshot-loader">
                <img src="/static/img/ajax-loader.gif" />
            </div>
            <div class="sim-desc"><pre id="sim-desc__pre"></pre></div>
        </div>
        <div id="json-div" class="col-sm-12 text-center">
            <h4>Export</h4>
            <div class="margin"><a onclick="jsonSnapshotExport()" href="#">Download current (json)</a></div>
            <div id="csv-links"></div>
        </div>
    </div>
    <div id="charts" class="row charts"></div>
</div>

<script>
    queries = [{
            id: "mailbox-size",
            name: "Mailbox size",
            query: "rate(akka_actor_mailbox_size_sum[{{ .Params.t }}]) / "
                    + "rate(akka_actor_mailbox_size_count[{{ .Params.t }}])",
            classes: "col-sm-12 chart"
        }, {
            id:   "time-in-mailbox",
            name: "time in mailbox",
            units: "seconds",
            query: "rate(akka_actor_time_in_mailbox_seconds_sum[{{ .Params.t }}]) / "
                    + "rate(akka_actor_time_in_mailbox_seconds_count[{{ .Params.t }}])",
            classes: "col-sm-12 chart"
        }, {
            id: "processing-time",
            name: "Actor processing time",
            units: "seconds",
            query: "rate(akka_actor_processing_time_seconds_sum[{{ .Params.t }}]) / "
                    + "rate(akka_actor_processing_time_seconds_count[{{ .Params.t }}])",
            classes: "col-sm-12 chart"
        }, {
            id: "raphtory-benchmarker",
            name: "benchmarker",
            query: "raphtory_benchmarker",
            classes: "col-sm-12 chart"
        }, {
            id: "host-memory",
            name: "Mem usage", 
            units: "Bytes",
            query: "rate(jvm_memory_bytes_sum{measure='used'}[{{ .Params.t }}]) / "
                    + "rate(jvm_memory_bytes_count{measure='used'}[{{ .Params.t }}])",
            classes: "col-sm-12 chart"
        }, {
            id: "host-cpu",
            name: "Cpu usage",
            units: "%",
            query: "rate(process_cpu_sum[{{ .Params.t }}]) / "
                    + "rate(process_cpu_count[{{ .Params.t }}])",
            classes: "col-sm-12 chart"
        }, {
            id: "heap-instances",
            name: "heapInstances",
            units: "instances",
            query: "raphtory_heap_instances",
            classes: "col-sm-6 chart"
        }, {
            id: "heap-memory",
            name: "heapMemory",
            units: "Bytes",
            query: "raphtory_heap_bytes_bytes",
            classes: "col-sm-6 chart"
        }, {
            id: "Vertices",
            name: "vertices",
            units: "Elems",
            query: "raphtory_vertices",
            classes: "col-sm-6 chart"
        }, {
            id: "Edges",
            name: "edges",
            units: "Elems",
            query: "raphtory_edges",
            classes: "col-sm-6 chart"
        },{
            id: "dead-letters",
            name: "Dead letters",
            query: "akka_system_dead_letters_total",
            classes: "col-sm-12 chart"
        }
    ];


    function generateLink(query) {
        uri = window.location.origin + "/api/v1/query_range?query=" +
        encodeURIComponent(query);
        duration = '3600';
        {{ if .Params.duration }}
            duration = {{ .Params.duration }};
        {{ end }}
        endTime = Math.floor(new Date() / 1000);
        {{ if .Params.endTime }}
            endTime = '{{ .Params.endTime }}';
        {{ end }}
        uri += "&step=1" + "&start=" + 
            (endTime - duration) + "&end=" + endTime;
        return uri;
    }

    function generate(query) {
        var div       = document.createElement('div');
        div.id        = query.id;
        div.className = query.classes;
        document.getElementById("charts").appendChild(div);

        query.rendered = new PromConsole.Graph({
            node: document.querySelector("#" + query.id),
            expr: query.query,
            yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
            yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
            yUnits: query.units,
            yTitle: query.name,
            {{ if .Params.duration }}duration: '{{ .Params.duration }}',{{ end }}
            {{ if .Params.endTime  }}endTime:  '{{ .Params.endTime  }}'{{ end }}
        })
    }

    function download(data, filename, type) {
        var file = new Blob([data], {type: type});
        if (window.navigator.msSaveOrOpenBlob) // IE10+
            window.navigator.msSaveOrOpenBlob(file, filename);
        else { // Others
            var a = document.createElement("a"),
                    url = URL.createObjectURL(file);
            a.href = url;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            setTimeout(function() {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);  
            }, 0); 
        }
    }
    function getCSV(id) {
        separator = "\t";

        json = queries[id].rendered.rendered_data[0].data.result;

        datas = json.map(e => e.values.map(data => data[1]));
        datas[datas.length] = json[0].values.map(data => data[0]);

        header= json.map(e => JSON.stringify(e.metric));
        header[header.length] = "time";

        columns = datas.length;
        rows = datas[0].length;

        csv = [];
        csv.push(header.join(separator));

        for (i = 0; i < rows; i++) {
            ret = "";
            for (j = 0; j < columns; j++) {
                ret += datas[j][i] + ((j+1<columns)?separator:"");
            }
            csv.push(ret);
        }
        download(csv.join("\n"), queries[id].id + ".csv", 'text/plain');
    }

    function jsonSnapshotExport() {
        queriesC = [];
        queries.map( (e, i) => {
            queriesC[i] = {};
            Object.keys(e).forEach((key) => {
                if (key !== "rendered")
                    queriesC[i][key] = e[key];
                else
                    queriesC[i]["rendered_data"] = e[key].rendered_data;
            });
        });
        download(JSON.stringify(queriesC), 
                (new Date()).toISOString().replace(/[:\-.]*/g, "") + "_snapshot.min.json", "text/plain");
    }

    function jsonSnapshotImport(url, index) {
        $("#simulation-links").hide();
        $(".snapshot-loader").show();
        $.ajax({
            url: url,
            success: function(result) {
                snapshotQueries = JSON.parse(result);
                queries.forEach((e, i) => {
                    if (simulations[index].endTime !== undefined)
	                e.rendered.params.endTime = simulations[index].endTime;
                    try {
	              e.rendered._render(snapshotQueries[i].rendered_data);
                    } catch(err) {
                      console.log(err);
                    }
                });
                $(".snapshot-loader").hide();
                $("#simulation-links").show();
                description = "";
                Object.keys(simulations[index]).forEach(function(e) {
                    description += e + ": " + simulations[index][e] + "\n";
                });
                $("#sim-desc__pre").html(description);
            }
        });
    }

    function callbackSnapshot(e) {
        jsonSnapshotImport(this.dataset.json, this.dataset.index);
    }

    simulations = [
        { name: "Current",              uri: "/consoles/index.html?t=180s"                                   },
        { name: "100 updates/s (21h)", uri: "#", json: "/consoles/snapshots/20180327T205759638Z_snapshot.min.json", endTime: 1522171800 },
        { name: "5k updates/s (1h, uniform)", uri: "#", json: "/consoles/snapshots/20180404T120508781Z_snapshot.min.json", frequency: "5kHz", signal: "Sampled step", maxVertices: "10^5", maxEdges: "5*10^9", updatesDistribution: "40% vertexAdd, 40% edgeAdd, 20% edgeRemoval", endTime: 1522845000 },
	{ name: "1k updates/s (3d, uniform)", uri: "#", json: "/consoles/snapshots/20180409T080112971Z_snapshot.min.json", frequency: "5kHz", signal: "Sampled step", maxVertices: "10^5", maxEdges: "5*10^9", updatesDistribution: "100% vertexAdd", endTime: 1523178000 },

    ];


    simulations.forEach(function(e, i) {
        var a = document.createElement('a');
        var linkText = document.createTextNode(e.name);
        a.appendChild(linkText);
        if (e.uri == "#") {
            a.href = "#";
            a.dataset.json = e.json;
            a.dataset.index= i;
            a.onclick = callbackSnapshot;
        } else {
            a.href = window.location.origin + e.uri;
        }

        document.getElementById("simulation-links").appendChild(a);
    });

    {{ if .Params.t }}
        queries.forEach(function(e, i) {
            generate(e);
            document.getElementById("csv-links")
                .insertAdjacentHTML('beforeend', '<a href="#" onclick="getCSV(' + i + ')">' +
                        e.name + '</a>');
        });
    {{ else }}
        window.location = "?t=180s";
    {{ end }}
</script>

{{ template "tail" }}

