report.html
summary.json
src/__generated
breakpoints.csv
breakpoints
key.json
output.json
.terraform
results
reports
terraform.tfstate
terraform.tfstate.backup
.virtual_documents
data/apache
node_modules
dist
output.csv.gz
output.json

!data/apache/master/graph.tar.xz
!data/apache/master/.raph
