[package]
name = "raphtory"
description = "raphtory, a temporal graph library"
edition.workspace = true
rust-version.workspace = true
version.workspace = true
keywords.workspace = true
authors.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
readme.workspace = true
homepage.workspace = true


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = "1"
chrono = { version = "0.4", features = ["serde"] }
flume = "0.10"
futures = {version = "0.3", features = ["thread-pool"] }
genawaiter = "0.99"
itertools="0.10"
num-traits = "0.2"
parking_lot = { version = "0.12" , features = ["serde", "arc_lock"] }
quickcheck = "1"
quickcheck_macros = "1"
once_cell = "1"
rand = "0.8.5"
rand_distr = "0.4.3"
rayon = "1"
regex = "1"
replace_with = "0.1"
roaring={ version = "0.10", features = ["serde"] }
rustc-hash = "1.1.0"
serde = { version = "1", features = ["derive","rc"] }
sorted_vector_map = "0.1"
tempdir = "0.3"
# tokio = { version = "1.27.0", features = ["full"] }
thiserror = "1"
twox-hash = "1.6.3"
uuid = { version = "1.3.0", features = ["v4"] }
lock_api = { version = "0.4", features = ["arc_lock"] }
dashmap = "5"
guardian = "1"

# io optional dependencies
csv = {version="1.1.6", optional=true}
zip = {version ="0.6.6", optional=true}
neo4rs = {version="0.6.0", optional=true}
bzip2 = {version="0.4", optional=true}
flate2 = {version="1.0", optional=true}
serde_json = {version="1", optional=true}
reqwest = { version = "0.11.14", features = ["blocking"], optional=true}
tokio = { version = "1.27.0", features = ["full"], optional=true}

# python binding optional dependencies
pyo3 =  {version= "0.19.0", features=["multiple-pymethods", "chrono"], optional=true}
num = {version="0.4.0", optional=true}
display-error-chain = {version="0.1.1", optional=true}


[dev-dependencies]
csv = "1"
pretty_assertions = "1"
quickcheck = "1"
quickcheck_macros = "1"


[features]
# Enables the graph loader io module
io = ["dep:zip","dep:neo4rs", "dep:bzip2", "dep:flate2", "dep:csv", "dep:serde_json", "dep:reqwest", "dep:tokio"]
# Enables generating the pyo3 python bindings
python = ["io", "dep:pyo3", "dep:num", "dep:display-error-chain"]
