[package]
name = "raphtory-pymodule"
description = "Python package for raphtory, a temporal graph library"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
keywords.workspace = true
authors.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
readme.workspace = true
homepage.workspace = true
doc = false
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "raphtory"
crate-type = ["cdylib"]

[dependencies]
pyo3 =  {version= "0.20.0", features=["multiple-pymethods", "chrono"]}
raphtory_core = {path = "../raphtory", version = "0.7.0", features=["python", "search", "vectors"], package="raphtory" }
raphtory-graphql = {path = "../raphtory-graphql", version = "0.7.0" }
openssl = { version = "0.10.64", features = ["vendored"] } # DO NOT REMOVE IT BREAKS PYTHON RELEASE
openssl-sys = { version = "0.9.98"}
serde_json = "1.0.108"
reqwest = "0.11.22"
tokio = {version = "1.18.2", features = ["full"]}
crossbeam-channel = "0.5.8"
serde = "1.0.193"
async-graphql = {version = "6.0.11", features = ["dynamic-schema"]}
dynamic-graphql = "0.8.1"
itertools= "0.12.0"

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]

[build-dependencies]
pyo3-build-config = "0.19.2"
