[package]
name = "raphtory-pymodule"
description = "Python package for raphtory, a temporal graph library"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
keywords.workspace = true
authors.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
readme.workspace = true
homepage.workspace = true
doc = false
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "raphtory"
crate-type = ["cdylib"]

[dependencies]
pyo3 =  {version= "0.19.0", features=["multiple-pymethods", "chrono"]}
raphtory_core = {path = "../raphtory", version = "0.4.2", features=["python"], package="raphtory" }
raphtory-graphql = {path = "../raphtory-graphql", version = "0.4.2"}
openssl = { version = "0.10", features = ["vendored"] } # DO NOT REMOVE IT BREAKS PYTHON RELEASE

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]

[build-dependencies]
pyo3-build-config = "0.19.0"
