[tool.poetry]
name = "pyraphtory"
version = "0.1.0"
description = ""
authors = ["Fabian Murariu <murariu.fabian@gmail.com>"]

include = ["lib/core-*.jar"]

[tool.poetry.dependencies]
python = ">=3.10 <3.11"
pemja = ">=0.2.4"
# pemja = {git = "https://github.com/alibaba/pemja.git", branch="main"}
cloudpickle=">=0.4"
py4j="^0.10"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
