<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="20">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- LOGGERS FOR UNDERLYING PACKAGES -->
        <Logger name="org.hibernate" level="${env:RAPHTORY_SQL_LOG:-off}">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.scurrilous.circe.checksum.Crc32cIntChecksum" level="${env:RAPHTORY_CHECKSUM_LOG:-off}">
        </Logger>
        <Logger name="io.netty" level="${env:RAPHTORY_NETTY_LOG:-off}">
        </Logger>
        <Logger name="org.apache" level="${env:RAPHTORY_APACHE_LOG:-off}">
        </Logger>

        <!-- LOGGER FOR RAPHTORY CORE -->
        <Logger name="com.raphtory" level="${env:RAPHTORY_CORE_LOG:-INFO}">
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
