[package]
name = "raphtory_netflow"
version.workspace = true
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
raphtory_core = { path = "../../raphtory", version = "0.15.0-b1", features = [
    "python",
    "search",
    "vectors",
], package = "raphtory" }
raphtory-graphql = { path = "../../raphtory-graphql", version = "0.15.0-b1", features = [
    "python",
] }
pyo3 = { workspace = true }

[lib]
crate-type = ["cdylib"]


[build-dependencies]
pyo3-build-config = { workspace = true }
