[package]
name = "raphtory-storage"
version.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
readme.workspace = true
homepage.workspace = true
keywords.workspace = true
authors.workspace = true
rust-version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
itertools.workspace = true
parking_lot.workspace = true
raphtory = { path = "../raphtory", features = ["io", "python"] }
# raphtory-arrow.workspace = true
rayon.workspace = true
polars-arrow.workspace = true
ahash.workspace = true
tempfile.workspace = true
dashmap.workspace = true
serde_json.workspace = true
pyo3.workspace = true

[dev-dependencies]
serde.workspace = true
proptest.workspace = true

[features]
arrow = ["raphtory/arrow"]
