markdown-exec
mkdocs
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-macros-plugin
mkdocs-material
mkdocs-section-index
mkdocstrings
mkdocstrings-python
pymdown-extensions
markdown_hide_code
pytest
pytest-markdown-docs
