accessible-pygments==0.0.4
adlfs==2022.11.2
aiobotocore==2.5.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==0.7.13
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
asv==0.5.1
async-timeout==4.0.2
attrs==23.1.0
azure-core==1.26.4
azure-datalake-store==0.0.53
azure-identity==1.13.0
azure-storage-blob==12.16.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
black==23.3.0
bleach==6.0.0
blinker==1.6.2
blosc==1.11.1
blosc2==2.0.0
boto3==1.26.76
botocore==1.29.76
Bottleneck==1.3.7
cachetools==5.3.1
certifi==2023.5.7
cfgv==3.3.1
click==8.1.3
cloudpickle==2.2.1
comm==0.1.3
coverage==7.2.6
cozo_embedded==0.7.1
cpplint==1.6.1
cramjam==2.6.2
Cython==0.29.33
dacite==1.8.1
dask==2023.5.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
docker==5.0.3
docutils==0.17.1
et-xmlfile==1.1.0
execnet==1.9.0
executing==1.2.0
fastjsonschema==2.16.3
fastparquet==2023.4.0
feedparser==6.0.10
filelock==3.12.0
flake8==6.0.0
Flask==2.3.2
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
gcsfs==2023.5.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-auth==2.19.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
gqlalchemy==1.4.1
greenlet==2.0.2
html5lib==1.1
hypothesis==6.75.6
identify==2.5.24
imagesize==1.4.1
importlib-metadata==6.6.0
iniconfig==2.0.0
ipykernel==6.23.1
ipython==8.13.2
ipython-genutils==0.2.0
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jsonpickle==3.0.1
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kuzu==0.0.3
llvmlite==0.40.0
locket==1.0.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
maturin==1.0.1
mccabe==0.7.0
meson==1.0.1
meson-python==0.13.1
mistune==2.0.5
moto==4.1.10
msal==1.22.0
msal-extensions==1.0.0
msgpack==1.0.5
multidict==6.0.4
munkres==1.1.4
mypy==1.2.0
mypy-extensions==1.0.0
natsort==8.3.1
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.8.0
nbsphinx==0.9.2
nest-asyncio==1.5.6
networkx==3.1
ninja==1.11.1
nodeenv==1.8.0
notebook==6.5.4
notebook_shim==0.2.3
numba==0.57.0
numexpr==2.8.4
numpy==1.24.3
numpydoc==1.5.0
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.1
pandas==2.0.2
pandoc==2.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
pathspec==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.5.0
platformdirs==3.5.1
pluggy==1.0.0
plumbum==1.8.1
ply==3.11
pooch==1.7.0
portalocker==2.7.0
pre-commit==3.3.2
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.23.2
psutil==5.9.5
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.23.0
pycodestyle==2.10.0
pycozo==0.7.1
pycparser==2.21
pydantic==1.10.7
pydata-sphinx-theme==0.13.3
pyflakes==3.0.1
Pygments==2.15.1
PyGObject==3.44.1
PyJWT==2.7.0
pymgclient==1.3.1
PyMySQL==1.0.3
pyOpenSSL==23.0.2
pyparsing==3.0.9
pyproject-metadata==0.7.1
pyreadstat==1.2.1
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.3.1
pytest-asyncio==0.21.0
pytest-cov==4.1.0
pytest-cython==0.2.1
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-snappy==0.6.1
pytz==2023.3
pyupgrade==3.4.0
pyvis==0.3.2
pyxlsb==1.0.10
PyYAML==6.0
pyzmq==25.0.2
qtconsole==5.4.3
QtPy==2.3.1
raphtory==0.3.2
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.23.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
ruff==0.0.215
s3fs==2023.5.0
s3transfer==0.6.1
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.2
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4.1
Sphinx==4.5.0
sphinx-copybutton==0.5.2
sphinx-toggleprompt==0.4.0
sphinx_design==0.4.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.15
stack-data==0.6.2
tables==3.8.0
tabulate==0.9.0
terminado==0.17.1
tinycss2==1.2.1
tokenize-rt==5.0.0
tomli==2.0.1
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
types-PyMySQL==1.0.19.7
types-python-dateutil==2.8.19.13
types-pytz==2023.3.0.0
types-PyYAML==6.0.12.10
types-setuptools==67.8.0.0
typing_extensions==4.6.2
tzdata==2023.3
uri-template==1.2.0
urllib3==2.0.2
versioneer==0.28
virtualenv==20.23.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.4
widgetsnbextension==4.0.7
wrapt==1.15.0
xarray==2023.5.0
xlrd==2.0.1
XlsxWriter==3.1.2
xmltodict==0.13.0
yarl==1.9.2
zipp==3.15.0
zstandard==0.19.0
