name: Rust Benchmarks
on:
  workflow_call:
    inputs:
      skip_tests:
        type: boolean
        default: false
        required: false

permissions:
  contents: write
  deployments: write

# DO NOT CHANGE NAME OF WORKFLOW, USED IN OTHER WORKFLOWS KEEP "Rust Tests"
jobs:
  benchmark:
    if: ${{ !inputs.skip_tests }}
    name: Rust Benchmark
    runs-on: '${{ matrix.os }}'
    env:
      CARGO_NET_GIT_FETCH_WITH_CLI: true
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout
      - name: Update Rust
        run: rustup update
      - name: Set up cargo cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/debug
            target/release
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
      - uses: webfactory/ssh-agent@v0.9.0
        name: Load raphtory-arrow key
        with:
            ssh-private-key: ${{ secrets.RA_SSH_PRIVATE_KEY }}          
      - uses: actions-rs/toolchain@v1
        name: Setup Rust
        with:
          profile: minimal
          toolchain: 1.77.0
          override: true
          components: rustfmt, clippy
      - name: Cargo update
        uses: actions-rs/cargo@v1
        with:
          command: update
      - name: Run benchmark (Unix)
        run: |
          set -o pipefail
          cargo bench --bench base -p raphtory-benchmark -- --output-format=bencher | tee benchmark-result.txt
      - name: Delete cargo.lock if it exists
        run: |
          rm -f Cargo.lock
      - name: Store benchmark result if repo is master
        if: github.ref == 'refs/heads/master'
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Rust Benchmark
          tool: 'cargo'
          output-file-path: benchmark-result.txt
          github-token: ${{ secrets.CLASSIC_REPO_ACCESS_TOKEN_BENCHMARK }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: false
      - name: Compare benchmark results if repo is not master
        if: github.ref != 'refs/heads/master'
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Rust Benchmark
          tool: 'cargo'
          output-file-path: benchmark-result.txt
          auto-push: false
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-alert: false
          save-data-file: false


# TODO
# ON PR DO NOT UPLOAD
# IF MASTER THEN UPLOAD

