name: Publish a new Release
on:
  push:
    tags:
      - 'v*'

jobs:
#  test-scala-python-workflow:
#    uses: ./.github/workflows/test_scala_python_workflow.yml
#    secrets: inherit
  publish-builds-to-github-maven:
#    needs: test-scala-python-workflow
    uses: ./.github/workflows/publish_builds.yml
    secrets: inherit
