name: Run tests during PR
on:
  pull_request:
    branches:
      - master
      - db_v4
      - "0.16"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  call-test-rust-workflow-in-local-repo:
    name: Run Rust tests
    uses: ./.github/workflows/test_rust_workflow.yml
    secrets: inherit
  call-test-python-workflow-in-local-repo:
    name: Run Python tests
    uses: ./.github/workflows/test_python_workflow.yml
    with:
      test_python_lower: false
    secrets: inherit
  call-test-ui-in-local-repo:
    name: Run UI Tests
    uses: ./.github/workflows/test_ui.yml
    secrets: inherit
    permissions:
      contents: read
  call-benchmark-workflow-in-local-repo:
    name: Run benchmarks
    uses: ./.github/workflows/benchmark.yml
    secrets: inherit
  call-graphql-bench-workflow-in-local-repo:
    name: Run benchmarks
    uses: ./.github/workflows/bench-graphql.yml
    secrets: inherit
  call-stress-test-workflow-in-local-repo:
    name: Run benchmarks
    uses: ./.github/workflows/stress-test.yml
    secrets: inherit
  call-format:
    name: Formatting autofixes
    uses: ./.github/workflows/format.yml
    secrets: inherit
    needs: [
      call-test-rust-workflow-in-local-repo,
      call-test-rust-storage-workflow-in-local-repo,
      call-test-python-workflow-in-local-repo,
      call-test-python-disk-storage-workflow-in-local-repo,
      #      call-test-ui-in-local-repo,  # TODO: currently broken, re-enable when fixed
      call-benchmark-workflow-in-local-repo,
      call-graphql-bench-workflow-in-local-repo,
      call-stress-test-workflow-in-local-repo
    ]
  # call-code-coverage:
  #   name: Code Coverage
  #   uses: ./.github/workflows/code_coverage.yml
  #   needs: rust-format-check
