name: Run Rust test
on:
  workflow_call:
    inputs:
      skip_tests:
        type: boolean
        default: false
        required: false
# DO NOT CHANGE NAME OF WORKFLOW, USED IN OTHER WORKFLOWS KEEP "Rust Tests"
jobs:
  rust-test:
    if: ${{ !inputs.skip_tests }}
    name: Rust Tests
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
          os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
        name: Checkout
      - name: Set up cargo cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions-rs/toolchain@v1
        name: Setup Rust
        with:
          profile: minimal
          toolchain: 1.75.0
          override: true
          components: rustfmt, clippy
      - name: Free up space (ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Install OpenSSL1 (macos)
        if : matrix.os == 'macos-latest'
        run: brew install openssl@1.1
      - name: Run
        run: rustc --version --verbose
      - name: Cargo update
        uses: actions-rs/cargo@v1
        with:
          command: update
      - name: Run Tests (No features)
        env:
          RUSTFLAGS: -Awarnings
        run: |
          cargo test -j 3 --all --no-default-features
      - name: Run Tests (features=io)
        env:
          RUSTFLAGS: -Awarnings
        run: |
          cargo check -j 3 -p raphtory --no-default-features --features "io"
      - name: Run Tests (features=python)
        env:
          RUSTFLAGS: -Awarnings
        run: |
          cargo check -j 3 -p raphtory --no-default-features --features "python"
      - name: Run Tests (features=search)
        env:
          RUSTFLAGS: -Awarnings
        run: |
          cargo check -j 3 -p raphtory --no-default-features --features "search"
      - name: Run Tests (features=vectors)
        env:
          RUSTFLAGS: -Awarnings
        run: |
          cargo check -j 3 -p raphtory --no-default-features --features "vectors"
  doc-test:
    if: ${{ !inputs.skip_tests }}
    name: "Doc tests"
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up cargo cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: doc-${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: doc-${{ runner.os }}-cargo-
      - uses: actions-rs/toolchain@v1
        name: Setup Rust
        with:
          profile: minimal
          toolchain: 1.75.0
          override: true
          components: rustfmt, clippy
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: 'pip'
      - name: Install OpenSSL1 (macos)
        if: matrix.os == 'macos-latest'
        run: brew install openssl@1.1
      - name: Cargo update
        uses: actions-rs/cargo@v1
        with:
          command: update
      - name: Build Rust Docs
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: -Awarnings
        with:
          command: doc
          args: --no-deps -p raphtory -q
      - name: Build sphinx (readthedocs) docs
        run: |
          export PATH=$(pwd)/sbt/bin:$PATH
          sudo apt update && sudo apt install -y pandoc make python3-sphinx
          pip install -e python
          cd docs && python -m pip install -q -r requirements.txt && make html
