name: Run Rust test
on:
  workflow_call:
    inputs:
      skip_tests:
        type: boolean
        default: false
        required: false
# DO NOT CHANGE NAME OF WORKFLOW, USED IN OTHER WORKFLOWS KEEP "Rust Tests"
jobs:
  rust-test:
    if: ${{ !inputs.skip_tests }}
    name: Rust Tests
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout
      - name: Set up cargo cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions-rs/toolchain@v1
        name: Setup Rust
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Run Tests
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: -Awarnings
        with:
          command: test
          args: --all --no-default-features --features "raphtory/io raphtory/python"
  windows-rust-test:
    if: ${{ !inputs.skip_tests }}
    name: Windows Rust Tests
    runs-on: windows-latest
    steps:
      - name: Create Directory
        run: mkdir C:\raphtory
      - uses: actions/checkout@v3
        name: Checkout
        with:
          ref: ${{ github.sha }}
          path: C:\raphtory
      - name: Set up cargo cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions-rs/toolchain@v1
        name: Setup Rust
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Run Tests
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: -Awarnings
        with:
          command: test
          args: --all --no-default-features --features "raphtory/io raphtory/python"
        working-directory: C:\raphtory
  doc-test:
    if: ${{ !inputs.skip_tests }}
    name: "Doc tests"
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up cargo cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
      - uses: actions-rs/toolchain@v1
        name: Setup Rust
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Build Rust Docs
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: -Awarnings
        with:
          command: doc
          args: --no-deps -p raphtory -q
      - name: Build sphinx (readthedocs) docs
        run: |
          export PATH=$(pwd)/sbt/bin:$PATH
          sudo apt update && sudo apt install -y pandoc make python3-sphinx
          pip install -e python
          cd docs && python -m pip install -q -r requirements.txt && make html

