name: Run tests during PR
on:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true


jobs:
  rust-format-check:
    name: Rust format check
    uses: ./.github/workflows/rust_format_check.yml
  call-test-rust-workflow-in-local-repo:
    name: Run Rust tests
    uses: ./.github/workflows/test_rust_workflow.yml
    secrets: inherit
    needs: rust-format-check
  call-test-python-workflow-in-local-repo:
    name: Run Python tests
    uses: ./.github/workflows/test_python_workflow.yml
    with:
      test_python_lower: false
    secrets: inherit
    needs: rust-format-check
  call-benchmark-workflow-in-local-repo:
    name: Run benchmarks
    uses: ./.github/workflows/benchmark.yml
    secrets: inherit
    needs: rust-format-check
  call-code-coverage:
    name: Code Coverage
    uses: ./.github/workflows/code_coverage.yml
    needs: rust-format-check
